body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  touch-action: none;
}
canvas { 
  width: 100%;
  height: 100%;
}
img {
  display: none;
}
#loading {
  color: black;
  font: 24px FreeMono, monospace;
}
#background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #ff0000;
  z-index: 0;
  display: none;
}
#background2 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #00ff00;
  z-index: 0;
  display: none;
}

#background3 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #8A2BE2;
  z-index: 0;
  display: none;
}